body {
  background-color: white;
  font-family: "Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
}

section {
  padding-left: 5vw;
  padding-right: 5vw;
}

h1 {
  font-size: 300%;
}

p {
  font-size: 100%;
  line-height: 1.2;
}

a {
  font-size: 100%;
  font-weight: bold;
}

#about {
  //color: rgb(163, 255, 193);
}

#contact {
}

#contact .social-media {
  padding: 0;
}

#contact a img {
  max-height: 3em;
  max-width: 8em;
  padding-right: 1em;
}

@media only screen
and (max-width: 1000px) {
    body { font-size: 5vw; }
    h1 { font-size: 200%; }
}