body {
  background-color: #CCFCE9;
  font-family: "Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
}

section {
  padding-top: 1em;
  padding-bottom: 0;
  padding-left: 3em;
  padding-right: 3em;
}

#about {
}

#about h1 {
  font-size: 4em;
}

#contact {
}

#contact .social-media {
  padding: 0;
}

#contact a img {
  max-height: 3em;
  max-width: 8em;
  padding-right: 1em;
}
